@use "./sass/functions.scss" as f;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

p {
	font-weight: 400;
}
:root {
	--body-color: #19161f;
	--white: white;
	--white2: white;
	--dark-brown: #6d6a70;

	--dark-brown2: linear-gradient(
		to right,
		rgba(0, 0, 255, 0.863),
		rgb(177, 10, 177)
	);
	--light-blue: #6780c0;
	--blue: #123996;
	--filter: hsla(260, 18%, 10%, 0.993);
	--scrollbar: blue;
	--scrollbar3: rgb(43, 43, 184);
	--white3: #fff;
	--scrollbar2: purple;
	--loading: #fff;
	--trailer: #ec3d08c0;
}

.lightMode {
	--scrollbar3: rgb(146, 39, 146);
	--body-color: #fff;
	--white: #000;
	--trailer: #ec2a08c0;

	--scrollbar: #ec3c08;
	--dark-brown2: linear-gradient(
		to left,
		rgba(0, 0, 255, 0.863),
		rgb(177, 10, 177)
	);
	--white3: purple;
	--white2: #fff;
	--filter: hsla(0, 0%, 100%, 0.993);
	--loading: rgba(0, 0, 255, 0.644);
}

$small-font: f.rem(12);
$font-medium: f.rem(15);
$font-large: f.rem(25);
$font-larger: f.rem(30);

$breakpoints: (
	v-small: f.rem(450),
	small-m: f.rem(650),
	small: f.rem(550),
	medium: f.rem(760),
	medium-m: f.rem(850),
);

@mixin breakpoint-max($size) {
	@media (max-width: map-get($breakpoints,$size)) {
		@content;
	}
}

body {
	position: relative;
	min-height: 100vh;
	background-color: var(--body-color);
	overflow-x: hidden;
	transition: background 0.2s ease;
	&::-webkit-scrollbar {
		width: f.rem(10);
		background-color: var(--filter);
	}
	&::-webkit-scrollbar-thumb {
		background: linear-gradient(to top, var(--scrollbar2), var(--scrollbar));
		border-radius: f.rem(10);
		backdrop-filter: blur(3px);
		width: 100%;
		&:hover {
			box-shadow: inset -1rem 0 1rem -1.2rem purple;
		}
	}
	&::-webkit-scrollbar-track {
		background-color: var(--filter);
	}
}

.loading {
	color: var(--loading);
	font-weight: 400;
}

.container {
	width: min(100% - f.rem(20), f.rem(1500));
	margin-inline: auto;
	display: grid;
	grid-template-areas:
		"aside header header"
		"aside main main"
		"aside main main"
		"aside footer footer";
	grid-template-columns: f.rem(250) 1fr;
	@include breakpoint-max(medium) {
		grid-template-areas:
			"header header header"
			"main main main"
			"main main main"
			"footer footer footer";
	}
	@include breakpoint-max(small) {
		grid-template-areas: "header", "main", "footer";
		grid-template-columns: 1fr;
		width: 98%;
		margin-inline: auto;
	}

	.header {
		height: f.rem(80);
		width: 100%;
		grid-area: header;
		position: sticky;
		top: 0;
		left: 0;
		z-index: 99;
		background-color: var(--filter);
		backdrop-filter: saturate(50%) blur(20px);
		-webkit-backdrop-filter: saturate(50%) blur(8px);
		box-shadow: 0px 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
		transition: background 0.2s ease;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: f.rem(20) f.rem(20) f.rem(20) f.rem(15);
			height: 100%;
			width: 100%;
			@include breakpoint-max(medium) {
				padding: f.rem(14) f.rem(20) f.rem(14) f.rem(15);
			}

			// ==========search==========
			.search {
				position: absolute;
				left: 0;
				top: f.rem(62);
				width: 100%;
				margin-inline: auto;
				background-color: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				.wrapper {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: f.rem(10);
					background: var(--dark-brown2);
					border-radius: f.rem(30);
					max-width: 400px;
					width: 100%;
					padding: f.rem(15) f.rem(18);
					box-shadow: 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.3);
					input {
						max-width: f.rem(350);
						width: 100%;
						height: f.rem(40);
						border-radius: f.rem(20);
						padding: 0 f.rem(10);
						border: none;
						font-size: f.rem(16);
						font-weight: 600;
						outline: transparent;
					}
					svg {
						cursor: pointer;
						fill: var(--white2);
					}
				}
			}
			.menu {
				display: none;
				@include breakpoint-max(medium) {
					display: flex;
				}
			}

			.notify {
				margin-left: auto;
				margin-right: f.rem(20);
			}

			.theme {
				cursor: pointer;
			}
			a {
				cursor: pointer;
				svg {
					fill: var(--white);
				}

				&:hover {
					transform: scale(1.1);

					svg {
						fill: rgba(180, 33, 180, 0.774);
						transition: 0.3s ease;
					}
				}
			}
			nav {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: f.rem(30);
				a {
					text-decoration: none;
					color: var(--white);
					&:hover {
						transition: 0.3s ease;
						color: var(--light-blue);
						transform: scale(1.05);
					}
				}
				.active {
					transform: scale(1.1);
					color: var(--light-blue);
				}
			}
			.group-icons {
				display: flex;
				align-items: center;
				gap: f.rem(15);
				transition: 0.3s ease;
				svg:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.aside {
		grid-area: aside;
		position: sticky;
		top: f.rem(0);
		left: 0;
		height: 100vh;
		z-index: 99;
		box-shadow: inset 1rem 0rem 2rem -1rem rgba(0, 0, 0, 0.1);

		@include breakpoint-max(medium) {
			display: none;
		}
		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: f.rem(30);
			padding: f.rem(20) f.rem(10);
			height: 100%;
			.logo {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				h1 {
					font-weight: 600;
					color: var(--white3);
				}
				h2 {
					transition: 0.3s ease;
					&:hover {
						transform: scale(1.2);
					}
				}
			}
			.nav_links {
				margin-top: f.rem(30);
				display: flex;
				flex-direction: column;
				height: f.rem(600);
				gap: f.rem(30);
				.first-nav {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						bottom: f.rem(-15);
						left: 0;
						width: 100%;
						height: f.rem(1);
						background-color: var(--dark-brown);

						opacity: 0.3;
					}
				}
				h2 {
					font-weight: 400;
					font-size: $small-font;
					color: var(--dark-brown);
					margin-bottom: f.rem(5);
				}
				nav {
					display: flex;
					flex-direction: column;
					gap: f.rem(10);
					a {
						display: flex;
						align-items: center;
						gap: f.rem(7);
						cursor: pointer;
						text-decoration: none;
						color: var(--dark-brown);
						text-decoration: none;
						cursor: pointer;
						font-weight: 500;
						transition: 0.3s ease;

						&.active {
							border-left: f.rem(2) solid var(--light-blue);
							transform: scale(1.04);
							color: var(--white3);
						}
						svg {
							margin-left: f.rem(10);
						}
						&:hover {
							color: var(--white3);
							transform: scale(1.04);

							svg {
								fill: var(--loading);
							}
						}
					}
				}
				.userLogged {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					max-width: f.rem(200);
					width: 100%;
					gap: f.rem(11);
					position: relative;
					bottom: 0;
					margin-top: auto;
					margin-bottom: f.rem(30);
					a {
						color: var(--white);
						cursor: pointer;
					}

					.right {
						color: var(--white);
						a {
							h3 {
								font-size: f.rem(13);
								font-weight: 400;
								color: var(--white);
							}
							cursor: pointer;
							text-decoration: none;
						}
						span {
							font-size: $small-font;
							font-weight: 400;
							color: var(--dark-brown);
						}
					}
					.left {
						.img {
							width: f.rem(35);
							height: f.rem(35);
							object-fit: cover;
							border-radius: 100%;
							img {
								border-radius: 100%;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
		@include breakpoint-max(small-m) {
			.container {
				.logo {
					h1 {
						display: none;
					}
				}
				.nav_links {
					nav {
						a {
							p {
								display: none;
							}
						}
					}
				}
			}
		}
		@include breakpoint-max(medium) {
			.container {
				.nav_links {
					nav {
						a {
							svg {
								width: f.rem(20);
								height: f.rem(20);
							}
						}
					}
				}

				.userLogged {
					display: none;
					.right {
						display: none;
					}
				}
			}
		}
	}

	.main {
		grid-area: main;
	}
	.footer {
		grid-area: footer;
		margin-top: f.rem(50);

		.container {
			display: flex;
			justify-content: center;
			gap: f.rem(90);
			padding: f.rem(20) 0;
			text-align: center;
			margin-inline: auto;

			.left {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				flex: 1 0 auto;
				gap: f.rem(10);
				a {
					text-decoration: none;
					// color: var(--white);
					color: var(--dark-brown);
					font-weight: 600;
					font-size: f.rem(20);
					transition: 0.3s ease;
					&:hover {
						transform: scale(1.1);
						color: var(--scrollbar);
					}
				}
			}
			.right {
				display: flex;
				flex-direction: column;
				flex: 1 0 auto;

				.icons {
					margin-bottom: f.rem(20);
					margin-right: auto;
					display: flex;
					gap: f.rem(20);
					cursor: pointer;
					a {
						text-decoration: none;
						color: transparent;
					}
					svg {
						fill: var(--white);
						transition: 0.3s;
						&:hover {
							fill: var(--scrollbar);
							transform: scale(1.1);
						}
					}
				}
				p {
					font-size: f.rem(20);
					color: var(--white);
					margin-right: auto;
					text-align: left;
				}
				.img {
					margin-top: f.rem(20);
					width: f.rem(60);
					height: f.rem(60);
					margin-right: auto;
					cursor: pointer;
					border-radius: 100%;
					border: 3px solid transparent;
					transition: border 0.3s ease;
					&:hover {
						border-color: var(--scrollbar);
					}
					img {
						border-radius: 100%;
						width: 100%;
						height: 100%;
					}
				}
			}
			@include breakpoint-max(small-m) {
				flex-wrap: wrap;
				.left {
					align-items: center;
				}
				.right {
					.icons,
					.img,
					p {
						margin-inline: auto;
						text-align: center;
					}
				}
			}
		}
	}
}

// ============main==============

.main {
	height: 100%;
	display: grid;
	gap: f.rem(20);
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	user-select: none;
}

.trending-section,
.top-rated-section,
.continueWatching-section,
.upcoming-section {
	width: 100%;
}

// ========top-rated=============
.top-rated-section {
	margin-top: f.rem(50);
	.container {
		display: flex;
		flex-direction: column;
		width: (100% - f.rem(20), f.rem(1200));
		margin-inline: auto;
		h2 {
			margin-bottom: f.rem(30);
			color: var(--white);
			font-weight: 400;
			margin-left: f.rem(25);
			font-size: $font-larger;
			text-align: left;
			@include breakpoint-max(v-small) {
				font-size: $font-large;
			}
		}
		.top-rated-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(f.rem(200), 1fr));
			gap: f.rem(20);
			margin-bottom: f.rem(30);
			.movie {
				max-width: f.rem(360);
				margin-inline: auto;
				width: 100%;
				border-radius: f.rem(20);
				height: f.rem(350);
				overflow: hidden;
				position: relative;
				box-shadow: 1rem 1rem 1rem -1.2rem rgba(0, 0, 0, 0.3);
				transition: transform 0.3s ease-in-out;
				&:hover,
				&:focus {
					box-shadow: 1rem 1rem 1rem -1rem rgba(128, 0, 128, 0.73);
					transform: scale(1.03);
					cursor: pointer;
					p {
						visibility: visible;
						opacity: 1;
					}
				}

				img {
					border-radius: f.rem(20);
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				p {
					position: absolute;
					top: 0;
					height: 100%;
					width: 100%;
					color: white;
					display: grid;
					place-content: center;
					font-weight: 400;
					font-size: f.rem(25);
					padding-inline: 2rem;
					text-align: center;
					opacity: 0;
					visibility: hidden;
					background: linear-gradient(
						rgba(0, 0, 255, 0.725),
						rgba(128, 0, 128, 0.727)
					);
					transition: 0.3s ease-in-out;
				}
			}
		}
		button {
			max-width: f.rem(200);
			width: 100%;
			margin-inline: auto;
			padding: f.rem(15) f.rem(20);
			font-size: f.rem(17);
			transition: background 0.25s ease-in;
			box-shadow: 1rem 0 1rem -1rem rgba(0, 0, 0, 0.3);
			border: f.rem(1) solid white !important;
			background-color: var(--white) !important;
			color: var(--filter) !important;
			&:active {
				transform: scale(1.03);
				transition: 0.1s ease;
			}
			&:hover {
				background-color: rgba(97, 32, 182, 0.788) !important;
				box-shadow: 1rem 1rem 1rem -1rem rgba(87, 0, 128, 0.568);
				border: f.rem(1) solid var(--body-color) !important;
				color: aliceblue !important;
			}
		}
	}
}

.upcoming-section {
	margin-bottom: f.rem(50);
	margin-top: f.rem(50);
}

.continueWatching-section,
.upcoming-section {
	overflow: hidden;
	h2 {
		margin-bottom: f.rem(30);
		color: var(--white);
		font-weight: 400;
		margin-left: f.rem(25);
		font-size: $font-larger;
		@include breakpoint-max(v-small) {
			font-size: $font-large;
		}
	}
	.card-container,
	.upcoming-container {
		.card,
		.upcoming-movie {
			width: 80%;
			margin-inline: auto;
			border-radius: f.rem(25);
			height: fit-content;
			box-shadow: 0px 1rem 2rem -1rem rgba(0, 0, 0, 0.2);
			position: relative;
			overflow: hidden;
			.onCard {
				padding: f.rem(20) f.rem(20) f.rem(20) f.rem(35);
				display: grid;
				border-radius: f.rem(25);
				grid-template-columns: auto auto;
				place-content: center;
				width: 100%;
				position: absolute;
				inset: 0;
				top: f.rem(-3);
				gap: f.rem(30);
				margin-inline: auto;
				height: 100%;
				background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));

				.left {
					width: fit-content;
					.img {
						border-radius: f.rem(25);
						height: 100%;
						width: f.rem(170);
						img {
							border-radius: f.rem(25);
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						@include breakpoint-max(small) {
							width: f.rem(100);
						}
					}
				}
				.right {
					color: var(--white2);
					display: grid;
					place-content: center;
					h3 {
						margin-bottom: f.rem(10);
						font-size: $font-large;
					}
					span {
						font-weight: 600;
						margin-bottom: f.rem(8);
					}
					p {
						font-weight: 300;
						font-size: f.rem(13);
						line-height: 1.4;
						max-width: f.rem(350);
					}
					.attr {
						margin-top: f.rem(7);
						font-weight: 400;
						font-size: f.rem(12);
						display: flex;
						align-items: center;
						gap: f.rem(8);
						span {
							background-color: rgba(255, 255, 255, 0.301);
							padding: f.rem(5);
							border-radius: f.rem(3);
							// width: fit-content;
						}
						display: none;
					}
				}
				.buttons {
					margin-top: f.rem(20);
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: f.rem(20);
					width: 100%;
					@include breakpoint-max(v-small) {
						flex-direction: column;
						gap: f.rem(10);
						align-items: flex-start;
					}
					button {
						cursor: pointer;
						padding: f.rem(12) f.rem(20);
						color: var(--white2);
						border-radius: f.rem(10);
						border: none;
						font-size: f.rem(15);
						transition: 0.3s ease;
						&:hover,
						&:active {
							opacity: 0.86;
							transition: opacity 0.2s ease;
						}

						&:active {
							opacity: 1;
							transition: opacity 0.2s ease;
							transform: scale(0.96);
						}
					}
					.trailer {
						background-color: var(--trailer);
						&:hover {
							transform: scale(1.03);
						}
					}
					.more {
						background-color: var(--scrollbar3);
						&:hover {
							transform: scale(1.03);
						}
						@include breakpoint-max(v-small) {
							display: none;
						}
					}
				}
			}

			&:hover {
				cursor: grab;
			}
			img {
				border-radius: f.rem(25);
				height: 100%;
				width: 100%;
				height: f.rem(300);
				object-fit: cover;
			}
		}
	}
}

.trending-section {
	position: relative;
	margin-top: f.rem(50);
	h2 {
		margin-left: f.rem(25);
		margin-bottom: f.rem(30);
		color: var(--white);
		font-weight: 400;
		font-size: $font-larger;
		@include breakpoint-max(v-small) {
			font-size: $font-large;
		}
		font-size: $font-large;
	}

	overflow: hidden;
	.swiper-container {
		.swiper-card {
			display: grid;
			overflow: hidden;
			width: 100%;
			border-radius: f.rem(25);
			height: fit-content;
			position: relative;
			box-shadow: 0px 1rem 2rem -1rem rgba(0, 0, 0, 0.2);

			&:hover {
				cursor: grab;
			}
			img {
				border-radius: f.rem(25);
				height: 100%;
				width: 100%;
				height: f.rem(300);
				object-fit: cover;
			}
			.onCard {
				padding: f.rem(20) f.rem(20) f.rem(20) f.rem(35);
				display: grid;
				grid-template-columns: auto auto;
				place-content: center;
				width: 100%;
				position: absolute;
				gap: f.rem(30);
				margin-inline: auto;
				top: 0;
				left: 0;
				height: 100%;
				background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));

				.left {
					width: fit-content;
					.img {
						border-radius: f.rem(25);
						height: 100%;
						width: f.rem(170);
						img {
							border-radius: f.rem(25);
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						@include breakpoint-max(small) {
							width: f.rem(100);
						}
					}
				}
				.right {
					color: var(--white2);
					display: grid;
					place-content: center;
					h3 {
						margin-bottom: f.rem(10);
						font-size: $font-large;
					}
					span {
						font-weight: 600;
						margin-bottom: f.rem(8);
					}
					p {
						font-weight: 300;
						font-size: f.rem(13);
						line-height: 1.4;
						max-width: f.rem(350);
					}
					.attr {
						margin-top: f.rem(7);
						font-weight: 400;
						font-size: f.rem(12);
						display: flex;
						align-items: center;
						gap: f.rem(8);
						span {
							background-color: rgba(255, 255, 255, 0.301);
							padding: f.rem(5);
							border-radius: f.rem(3);
						}
						display: none;
					}
				}
				.buttons {
					margin-top: f.rem(20);
					display: flex;
					align-items: center;
					justify-content: flex-start;
					gap: f.rem(20);
					width: 100%;

					@include breakpoint-max(v-small) {
						flex-direction: column;
						gap: f.rem(10);
						align-items: flex-start;
					}
					button {
						cursor: pointer;
						padding: f.rem(12) f.rem(20);
						color: var(--white2);
						border-radius: f.rem(10);
						border: none;
						font-size: f.rem(15);
						transition: 0.3s ease;
						&:hover,
						&:active {
							opacity: 0.86;
							transition: opacity 0.2s ease;
						}

						&:active {
							opacity: 1;
							transition: opacity 0.2s ease;
							transform: scale(0.96);
						}
					}

					.trailer {
						background-color: var(--scrollbar3);
						&:hover {
							transform: scale(1.03);
						}
					}
					.more {
						background-color: var(--trailer);
						&:hover {
							transform: scale(1.03);
						}
						@include breakpoint-max(v-small) {
							display: none;
						}
					}
				}
			}
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	color: var(--white);
	font-size: 8rem;
	z-index: 100;
	background-color: #020005da;

	.close {
		display: inline-block;
		align-items: center;
		width: 100%;
		margin-bottom: f.rem(20);
		transform: translateY(-150px);
		justify-content: flex-end;
		outline: none;
		cursor: pointer;
	}
	&:hover {
		.close {
			transform: translate(0);
			transition: transform 0.3s ease;
		}
	}
}

.slider {
	width: 100%;
}

// =============sidebar============
.sidebar {
	display: none;
}

@include breakpoint-max(medium) {
	.notify {
		display: none;
	}
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 80%;
		height: 100vh;
		overflow: hidden;
		background-color: var(--filter);
		backdrop-filter: saturate(50%) blur(20px);
		-webkit-backdrop-filter: saturate(50%) blur(8px);
		transform: translateX(100%);
		.container {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start !important;
			gap: f.rem(0);
			padding: f.rem(20) f.rem(10);
			height: 100vh;
			.close {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				margin-top: f.rem(30);
				&:hover {
					cursor: pointer;
				}
			}
			.logo {
				cursor: pointer;
				display: flex;
				align-items: center;
				h1 {
					font-weight: 600;
					color: var(--white);
				}
			}
			.nav_links {
				margin-top: f.rem(30);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: auto;
				gap: f.rem(35);
				width: 80%;
				.first-nav {
					position: relative;
					&::before {
						content: "";
						position: absolute;
						bottom: f.rem(-15);
						left: 0;
						width: 100%;
						height: f.rem(1);
						background-color: var(--dark-brown);
						opacity: 0.3;
					}
				}
				h2 {
					font-weight: 400;
					font-size: $small-font;
					color: var(--dark-brown);
					margin-bottom: f.rem(5);
				}
				nav {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: f.rem(10);
					a {
						display: flex;
						align-items: center;
						gap: f.rem(7);
						cursor: pointer;
						text-decoration: none;
						color: var(--dark-brown);
						&.active {
							border-left: f.rem(2) solid var(--light-blue);
						}
						svg {
							margin-left: f.rem(10);
							width: f.rem(25);
							height: f.rem(25);
						}
						&:hover {
							color: var(--white);
							transition: 0.3s ease;
							svg {
								fill: var(--light-blue);
							}
						}
						a {
							color: var(--dark-brown);
							text-decoration: none;
							cursor: pointer;
							font-weight: 500;
						}
					}
				}
				.userLogged {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					max-width: f.rem(200);
					width: 100%;
					gap: f.rem(11);
					position: relative;
					bottom: 0;
					margin-top: auto;
					margin-bottom: f.rem(30);
					a {
						color: var(--white);
						cursor: pointer;
					}

					.right {
						color: var(--white);
						a {
							h3 {
								font-size: f.rem(13);
								font-weight: 400;
								color: var(--white);
							}
							cursor: pointer;
							text-decoration: none;
						}
						span {
							font-size: $small-font;
							font-weight: 400;
							color: var(--dark-brown);
						}
					}
					.left {
						.img {
							width: f.rem(30);
							height: f.rem(30);
							object-fit: cover;
							border-radius: 100%;
							img {
								border-radius: 100%;
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}
		}
	}

	.show {
		transform: translateX(0);
		display: block;
	}
}

.error {
	color: rgba(255, 0, 0, 0.89);
	font-weight: 500;
	font-size: f.rem(25);
	text-align: center;
}

// ===========singleMovie-section==================
.singleMovie-section {
	display: grid;

	@include breakpoint-max(medium) {
		grid-column: 1/-1;
	}
	.intro-section {
		display: grid;
		width: 100%;

		.container2 {
			display: grid;
			padding-block: f.rem(30);
			grid-template-columns: repeat(auto-fit, minmax(f.rem(250), 1fr));

			gap: f.rem(30);
			height: 100%;
			width: min(100% - f.rem(25), f.rem(900));
			margin-inline: auto;
			align-content: center;
			margin-inline: auto;

			.left-card {
				height: f.rem(400);
				border-radius: f.rem(25);
				margin-inline: auto;
				max-width: f.rem(300);
				width: 100%;
				img {
					border-radius: f.rem(25);
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			.right-card {
				display: grid;
				place-content: center;
				color: var(--white2);
				p {
					font-weight: 200;
					font-size: f.rem(14);
					line-height: 1.5;
				}
				button {
					cursor: pointer;
					padding: f.rem(12) f.rem(20);
					color: var(--white2);
					border-radius: f.rem(10);
					border: none;
					font-size: f.rem(15);
					transition: 0.3s ease;
					background-color: var(--scrollbar3);
					margin-top: f.rem(20);
					&:hover {
						transform: scale(1.03);
					}
					&:hover,
					&:active {
						opacity: 0.86;
						transition: opacity 0.2s ease;
					}

					&:active {
						opacity: 1;
						transition: opacity 0.2s ease;
						transform: scale(0.96);
					}
				}
			}
		}
	}
}

// ===========similarMovies============
.similarMovies-section {
	margin-top: f.rem(50);

	.container3 {
		width: min(100% - f.rem(20), f.rem(1200));
		margin-inline: auto;
		h2 {
			margin-bottom: f.rem(30);
			color: var(--white);
			font-weight: 400;
			font-size: $font-larger;
			text-align: left;
			@include breakpoint-max(v-small) {
				font-size: $font-large;
			}
		}
		.parent-container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(f.rem(250), 1fr));
			gap: f.rem(20);
			a {
				text-decoration: none;
				.movieCard {
					transition: 0.3s ease;
					box-shadow: -1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
					color: var(--white);
					border: 1px solid var(--white2);
					height: 100%;
					max-width: f.rem(450);
					margin-inline: auto;
					width: 100%;
					&:hover {
						box-shadow: -1rem 1rem 1rem -1rem rgba(0, 0, 0, 0.3);
						transform: scale(1.01);
					}
					.img {
						width: 100%;
						height: f.rem(350);
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
					.content {
						padding: f.rem(15) f.rem(10);
						h3 {
							margin-bottom: f.rem(10);
							font-weight: 600;
						}
						span {
							display: block;
							width: 100%;
							padding-block: f.rem(2);
							color: var(--dark-brown);
						}
						.rate {
							display: flex;
							align-items: center;
						}
					}
				}
			}
		}
		button {
			max-width: f.rem(200);
			display: block;
			margin-top: f.rem(20);
			width: 100%;
			margin-inline: auto;
			padding: f.rem(15) f.rem(20);
			font-size: f.rem(17);
			transition: background 0.25s ease-in;
			box-shadow: 1rem 0 1rem -1rem rgba(0, 0, 0, 0.3);
			border: f.rem(1) solid white !important;
			background-color: var(--white) !important;
			color: var(--filter) !important;
			&:active {
				transform: scale(1.03);
				transition: 0.1s ease;
			}
			&:hover {
				background-color: rgba(97, 32, 182, 0.788) !important;
				box-shadow: 1rem 1rem 1rem -1rem rgba(87, 0, 128, 0.568);
				border: f.rem(1) solid var(--body-color) !important;
				color: aliceblue !important;
			}
		}
	}
}

// =========pageConstrunction=========
.section {
	height: 80vh;
	display: grid;
	@include breakpoint-max(medium) {
		grid-column: 1/-1;
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		color: var(--white);
		text-align: center;
		h1 {
			font-size: f.rem(45);
			font-weight: 700;
		}
		p {
			font-size: f.rem(30);
			margin-top: f.rem(25);
			font-weight: 400;
		}
		a {
			text-decoration: none;
			.back-home {
				margin-top: f.rem(30);
				cursor: pointer;
				display: flex;
				align-items: center;
				gap: f.rem(7);
				justify-content: center;
				padding: f.rem(13) f.rem(25);
				border: none;
				background-color: var(--white);
				color: var(--filter);
				transition: 0.2s ease;
				&:hover {
					box-shadow: 0rem 0rem 2rem -1rem var(--white);
					transform: scale(1.03);
				}

				&:active {
					transform: scale(0.98);
				}
				p {
					margin: 0;
					font-size: f.rem(18);
				}
			}
		}
	}
}

.similarMovies-section {
	display: grid;
	@include breakpoint-max(medium) {
		grid-column: 1/-1;
	}
}
